<html>
<head>
    <style>
        
    </style>
</head>
<body>
    <form role="form">
        <div class="container my-3">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h4 class="font-weight-bold text-primary">Login</h4>
                                    <hr />
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div>
                                        <label class="text-secondary">Username</label>
                                        <input type="text" class="form-control" placeholder="Username"
                                               data-ng-model="loginData.userName" required autofocus>
                                    </div>
                                    <div>
                                        <label class="text-secondary">Password</label>
                                        <input type="password" class="form-control" placeholder="Password"
                                               data-ng-model="loginData.password" required>
                                    </div>
                                    <div class="checkbox">
                                        <label class="text-secondary">
                                            <input type="checkbox" data-ng-model="loginData.useRefreshTokens">
                                            Use Refresh Tokens
                                        </label>
                                    </div>
                                    <button class="btn btn-md btn-outline-primary btn-block"
                                            type="submit" data-ng-click="login()">
                                        Login <i class="fa fa-sign-in"></i>
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </form>
</body>
</html>

